.inputs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputs__wrapper > div {
  position: relative;
}

.inputs__wrapper > div > *:not(button) {
  margin-top: 1em;
}
.inputs__wrapper > div > label {
  display: none;
  position: absolute;
  top: -1.4em;
  left: 0.6em;
  font-size: 0.6em;
  color: var(--my-lightbrown);
}

.inputs__wrapper > div > input:not(:placeholder-shown) + label,
.inputs__wrapper > div > textarea:not(:placeholder-shown) + label {
  display: block;
}
.inputs__wrapper > div > input[type='number'] {
  width: 10.7rem;
}
