.itemPage_wrapper {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.product__comments {
  margin: 0 auto;
  position: relative;
  flex: 2 1;
  margin-inline: 1rem;
  gap: 0.5rem;
  border: 0.25rem solid rgb(4, 34, 49);
  border-radius: 4px;
}
.product__comment {
  position: relative;
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem;
  border: 0.25rem solid rgb(9, 27, 61);
  border-radius: 8px;
  text-align: left;
}
.product__comment > * {
  margin-block: 1rem;
}

.user__rating {
  margin-left: auto;
  margin-right: 3rem;
}

.rating1 { color: red; }
.rating2 { color: orange; }
.rating3 { color: yellow; }
.rating4 { color: lightgreen; }
.rating5 { color: green; }

.avatar { margin-left: 1rem; }

.user__name { color: var(--my-text-lightgreen); }

.deleteComment {
  position: absolute;
  top: -1rem;
  right: 0.5rem;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: brown;
}
.deleteComment:hover { color: red; }