.purchasedItems__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-block: 1rem;
  gap: 1rem;
}

.purchasedItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  border-radius: 16px;
  font-size: 1.5rem;
}

.purchasedItem img {
  width: min(12rem, 93.75%);
  justify-self: center;
}