.product__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-auto-rows: 1fr; /* make rows below aka implicit rows be the same height as the tallest item*/
  margin-right: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}